<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ubintis.board.mapper.MemberMapper">

	<select id="idCheck" parameterType="String" resultType="int">
		SELECT
		COUNT(*) FROM users
		WHERE user_id = #{userId}
	</select>

	<select id="getUserList" resultType="UserVO">
		SELECT *
		FROM users
	</select>

	<insert id="insertMember" parameterType="UserVO">
		INSERT INTO users (
		user_id,
		password, name, birth,
		phone,
		address,
		email,
		email_agreed,
		sms_agreed,
		hint_id, hint_answer, join_date
		) VALUES (
		#{userId},
		#{password}, #{name}, #{birth},
		#{phone},
		#{address},
		#{email},
		#{emailAgreed},
		#{smsAgreed},
		#{hintId}, #{hintAnswer}, #{joinDate} )
	</insert>
	
	<select id="getMemberById" parameterType="String" resultType="UserVO">
    SELECT *
    FROM users
    WHERE user_id = #{userId}
	</select>
	
	<update id="updateMember" parameterType="UserVO">
		UPDATE users
		SET
			phone = #{phone},
			address = #{address},
			email = #{email},
			email_agreed = #{emailAgreed},
			sms_agreed = #{smsAgreed},
			hint_id = #{hintId},
			hint_answer = #{hintAnswer}
		WHERE user_id = #{userId}
	</update>
	
	<select id="findUserByEmail" parameterType="String" resultType="UserVO">
	SELECT * FROM users
	WHERE email = #{email}
	</select>
	
	<select id="findId" parameterType="String" resultType="UserVO">
	SELECT * FROM users
	WHERE name = #{name} AND email = #{email]
	</select>
</mapper>
