<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" " http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
        <typeAliases>

            <typeAlias alias="LoginLogVO" type="com.ubintis.board.vo.LoginLogVO"/>   
            <typeAlias alias="MainBoardVO" type="com.ubintis.board.vo.MainBoardVO"/>   
            <typeAlias alias="MainCommentVO" type="com.ubintis.board.vo.MainCommentVO"/>   
            <typeAlias alias="PasswordHintVO" type="com.ubintis.board.vo.PasswordHintVO"/>   
            <typeAlias alias="SubCommentVO" type="com.ubintis.board.vo.SubCommentVO"/>   
            <typeAlias alias="UserVO" type="com.ubintis.board.vo.UserVO"/>   
            <typeAlias alias="UserWithDrawVO" type="com.ubintis.board.vo.UserWithDrawVO"/>   
                        
        </typeAliases>
</configuration>

<!-- 이클립스 + spring mybatipse -->
